<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-hidden="true" data-modal-target="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" data-modal-target="modalBody">
        {{ modalContent|default('Loading...') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>